<a href="https://colab.research.google.com/github/abhiverma1924/Python-Workshop-DSC/blob/master/List_And_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = ['physics', 'chemistry', 1997, 2000] 

list2 = [1, 2, 3, 4, 5, 6, 7 ] 

print ("list1[0]:", list1[0])	 #statement 1 
print ("list1[0]:", list1[-2])	 #statement 2 
print ("list1[-2]:", list1[1:])	 #statement 3 
print ("list2[1:5]:", list2[1:5]) #statement 4

list1[0]: physics
list1[0]: 1997
list1[-2]: ['chemistry', 1997, 2000]
list2[1:5]: [2, 3, 4, 5]

In [4]:
list1 = [1998, 2002, 1997, 2000] 
list2 = [2014, 2016, 1996, 2009] 

print ("list1 + list 2 = : ", list1 + list2) #statement 1 

print ("list1 * 2 = : ", list1 * 2) #statement 2

list1 + list 2 = :  [1998, 2002, 1997, 2000, 2014, 2016, 1996, 2009]
list1 * 2 = :  [1998, 2002, 1997, 2000, 1998, 2002, 1997, 2000]

In [5]:
list1 = ['physics', 'chemistry', 1997, 2000] 

print ("list1[1][1]: ", list1[1][1] )#statement 1 

print ("list1[1][-1]: ", list1[1][-1]) #statement 2

list1[1][1]:  h
list1[1][-1]:  y

In [6]:
List = [True, 50, 10] 
List.insert(2, 5)	 
print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

In [0]:
L = [1, 3, 5, 7, 9] 
print(L.pop(-3), end = ' ') 
print(L.remove(L[0]), end = ' ') 
print(L)

In [0]:
L1 = list() 
L1.append([1, [2, 3], 4]) 
L1.extend([7, 8, 9]) 
print(L1[0][1][1] + L1[2])

In [8]:
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1) 
#print(T1 + T2)

6

In [0]:
tuple = (1, 2, 3, 4) 
tuple.append( (5, 6, 7) ) 
print(len(my_tuple))

In [0]:
tuple = (1, 2, 3) 
print(2 * tuple)

In [0]:
tuple1 = (1, 2, 4, 3) 
tuple2 = (1, 2, 3, 4) 
print(tuple1 < tuple2)